@use '../utilities/variables' as var;
@use '../utilities/typography' as font;
@use '../utilities/mixins' as mixins;
@use 'sass:map';

.game-settings {
  &__player {
    background-color: var.$semi-dark-navy;
    @include mixins.shadow(darken(var.$semi-dark-navy, 7.5%));
  }

  &__h2 {
    color: var.$silver;
    font-weight: map.get(font.$font-weights, 'heading');
    font-size: map.get(font.$font-sizes, 'heading-xs');
    letter-spacing: map.get(font.$font-kerning, 'heading-xs');
    text-transform: uppercase;
  }

  &__radio-container {
    background-color: var.$dark-navy;
  }

  &__radio-selector {
    background-color: var.$silver;
  }

  &__radio-input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
  }

  &__text {
    color: var.$gray;
    font-weight: map.get(font.$font-weights, 'body');
    font-size: map.get(font.$font-sizes, 'body');
    letter-spacing: map.get(font.$font-kerning, 'body');
    text-transform: uppercase;
  }

  &__button {
    border: none;
    color: var.$dark-navy;
    font-weight: map.get(font.$font-weights, 'heading');
    font-size: map.get(font.$font-sizes, 'heading-s');
    letter-spacing: map.get(font.$font-kerning, 'heading-s');
    text-transform: uppercase;

    border-radius: 1rem;
    &--yellow {
      background-color: var.$light-yellow;
      @include mixins.shadow(darken(var.$light-yellow, 12.5%));
    }
    &--blue {
      background-color: var.$light-blue;
      @include mixins.shadow(darken(var.$light-blue, 12.5%));
    }
  }
}
