@use '../utilities/variables' as var;
@use '../utilities/typography' as font;
@use '../utilities/mixins' as mixins;
@use 'sass:map';

.game {
  &__turn {
    background-color: var.$semi-dark-navy;
    -webkit-box-shadow: 0px 4px 0px 0px var.$dark-navy-shadow;
    -moz-box-shadow: 0px 4px 0px 0px var.$dark-navy-shadow;
    box-shadow: 0px 4px 0px 0px var.$dark-navy-shadow;
    border-radius: 0.75rem;
  }

  &__turn-text {
    color: var.$silver;
    text-transform: uppercase;
  }

  &__restart {
    background-color: var.$silver;
    border: none;
    -webkit-box-shadow: 0px 4px 0px 0px var.$silver-shadow;
    -moz-box-shadow: 0px 4px 0px 0px var.$silver-shadow;
    box-shadow: 0px 4px 0px 0px var.$silver-shadow;
    border-radius: 0.75rem;
  }

  &__cell {
    background-color: var.$semi-dark-navy;
    -webkit-box-shadow: 0px 8px 0px 0px var.$dark-navy-shadow;
    -moz-box-shadow: 0px 8px 0px 0px var.$dark-navy-shadow;
    box-shadow: 0px 8px 0px 0px var.$dark-navy-shadow;
    border-radius: 1rem;
  }

  &__footer {
    border-radius: 0.75rem;

    &--blue {
      background-color: var.$light-blue;
    }

    &--gray {
      background-color: var.$silver;
    }

    &--yellow {
      background-color: var.$light-yellow;
    }
  }
}
